body{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}
.pagecontainer{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pagetop{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url( ../images/background-glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
}
.header{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 960px;
  height: 3rem;
  margin-top: 1rem;
  background-color: cadetblue;
  color: white;
}
.logo{
  display: flex;
  position: relative;
  align-items: center;
  left: 2rem;
}
.logo img{
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}
.navigation{
  display: flex;
  position: relative;
  align-items: center;
  right: 1rem;
}
.navigation ul{
  list-style: none;
}
.navigation li{
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav2{
  display: none;
}
.boxoutside{
  display: flex;
  justify-content: flex-end;
  width: 1032px;
  height: 5rem;
  margin-top: 10rem;
}
.centerbox{
  background-color: white;  line-height: 1.2;
}
.centerbox p{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 5rem;
}
.pageicons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 3rem;
  width: 100%;
}
#exams, #fittings, #delivery{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}
#exams img{
  width: 3.5rem;
  height: auto;
}
#fittings img, #delivery img{
  width: 5rem;
  height: auto;
}
.pagetext{
  display: flex;
  justify-content: center;
  position: relative;
  width: 960px;
  top: 3rem;
  font-size: 1rem;
}
.philosophy, .appointments{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left; 2.5%;
  margin-right: 2.5%;
}
.philosophy h2, .appointments h2{
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.25rem;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 4rem;
  width: 960px;
  height: 9.5rem;
  background-color: azure;
}
.footer img{
  height: 1.5rem;
  width: auto;
  margin-left: 4rem;
}
.footer p{
  font-size: 1rem;
  margin-left: 1rem;
}
@media only screen and (max-width: 640px){
  .pagetop{
    height: 22rem;
  }
  .header{
    margin-top: 0;
    width: 100%;
  }
  .navigation{
    display: none;
  }
  .nav2{
    display: flex;
    padding-right: 2rem;
  }
  .boxoutside{
    width: 100%;
    height: 2.83rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .centerbox p{
    font-size: 1.33rem;
    margin: 0.75rem 4rem;
  }

}
@media only screen and (max-width: 430px){
  .pagetop{
    height: 17rem;
    background-position: 20%;
  }
  .header{
    margin-top: 0;
    width: 100%;
  }
  .navigation{
    display: none;
  }
  .nav2{
    display: flex;
    padding-right: 2rem;
  }
  .boxoutside{
    width: 100%;
    height: 2.83rem;
    margin-top: 9rem;
  }
  .centerbox{
    width: 100%;
  }
  .centerbox p{
    width: auto;
    font-size: 1rem;
    margin: 1rem 1rem;
  }
  .pageicons{
    flex-direction: column;
    align-content: center;
    top: 3.77rem;
  }
  #fittings img, #delivery img{
    margin-top: 1.54rem;
  }
  .pageicons p{
    font-size: 0.77rem;
  }
  .pagetext{
    flex-direction: column;
    align-content: center;
    top: 3.77rem;
  }
  .philosophy, .appointments{
    width: 100%;
    margin-bottom:  4rem;
    margin-left: 0;
    margin-right: 0;
  }
  .pagetext p{
    font-size: 0.77rem;
    margin-top: 1rem;
    margin-left: 0.25rem;
  }
  .footer{
    width: 100%;
    justify-content: center;
  }
  .footer img{

  }
  .footer p{
    display: none;
  }
}
